
/*.experiment{
    margin: 0px 0px -5px 0px;
  }*/
  
#app canvas {
  width: 100%;
}

.experiment_title{
  width: 100%;
}

.selectMode{
  text-align: center;
}

.selectMode .goRule{
  float: left;
  margin: -1% 0% 1% 1%;
  width: 25%;
}

.selectMode .goMath{
  float: left;
  margin: -1% 0% 1% 1%;
  width: 25%;
}

.selectMode .goTheo{
  float: left;
  margin: -1% 0% 1% 1%;
  width: 25%;
}

.selectMode .allWhite{
  float: left;
  width: 10%;
}

.header{
  width: 100%;
  text-align: left;
  margin: 1% 0;
}

.header a:link{
  color: #333;
}

.header a:visited{
  color: #333;
}

.header a:hover{
  color: skyblue;
}

.header a:active{
  color: pink
}

.experiment_Rule_new{
  margin-top: -1%;
  width: 100%;
}

/* 元のCSS
.goRule{
    margin: -3px 5px;
    width: 176px;
  }
  
.goMath{
    float: left;
    margin: -3px 5px;
    width: 176px;
  }
  
.goTheo{
    float: left;
    margin: -3px 5px;
    width: 176px;
  }

.goHome{
  float: left;
  width: 96px;
}
*/
