body{
    background-color: #C9AD7D;
    text-align: center;
}

@media all and (orientation: landscape){
    div.forPortrait{display: none;}
}

@media all and (orientation: portrait){
    div.forLandscape{display: none;}
}

.OPEN_16_9_upper{
    float: left;
    width: 100%;
}

.OPEN_16_9_lower_left{
    float: left;
    width: 50%;
}

.OPEN_16_9_lower_right{
    width: 50%;
}

.OPEN_9_16_upper{
    float: left;
    width: 100%;
}

.OPEN_9_16_lower_left{
    float: left;
    width: 50%;
}

.OPEN_9_16_lower_right{
    width: 50%;
}

.OPEN_QR{
    margin-top: -30%;
    width: 30%;
}

/* 初期の表示
.open_Background{
    width: 100%;
}

.open_goUT{
    float: left;
    width: 50%;
}

.open_goBirth{
    width: 50%;
}
*/
