body{
    background-color: #385723;
}

.footer{
    width: 100%;
    text-align: center;
    margin: 5% 0;
  }

.footer a:link{
    color: white;
  }

.footer a:visited{
    color: white;
  }

.footer a:hover{
    color: skyblue;
  }

.footer a:active{
    color: pink
  }

.backEx{
    width: 100%;
    text-align: center;
    margin: 5% 0;
  }

.backEx a:link{
    color: white;
  }

.backEx a:visited{
    color: white;
  }

.backEx a:hover{
    color: skyblue;
  }

.backEx a:active{
    color: pink
  }
  
