body{
    margin:0;
    position:relative;
  }
.btn{
    position:absolute;
    top:10px;
    left:10px;
  }
.header{
  width: 780px;
  background-color: lightslategrey;
  height: 40px;
  font-family: fantasy;
  color: aliceblue;
  padding: 5px 10px;
}

.hardness{
  width: 780px;
  background-color: aliceblue;
  padding: 5px 10px;
  border-bottom: 5px solid lightslategrey;
  font-family: sans-serif;
}

.hardness span{
  font-weight: bolder;
  color: steelblue;
}

.abst{
  width: 780px;
  height: 30px;
  background-color: lightsteelblue;
  padding:5px 10px;
}

.abst span{
  font-weight: bolder;
}

.howtoplay{
  width: 780px;
  padding:5px 10px;
  border-bottom: 5px solid lightsteelblue;
}

.howtoplay span#subtitle{
  font-weight: bolder; 
}

.howtoplay span#fromUT{
  font-weight: bolder;
  color: steelblue;
}

.marker_line{
  background: linear-gradient(transparent 60%, lightsteelblue 0%); 
}

.question{
  width: 780px;
  padding:5px 10px;
  background-color: aliceblue;
  border-bottom: 5px solid lightslategrey;
}

.experiment{
  width: 780px;
  padding:5px 10px;
}

li{
  list-style: none;
}
